@use "../styles/foundation/" as *;

/* =======================================
 * クロジカ Aboutページ スタイル
 * URL: /src/styles/PageAbout.module.scss
 * Referenced in: /src/app/about/page.tsx
 * Created: 2026-06-20
 * Last updated: 2026-07-27
 * ======================================= */

/* =================================
 * ページタイトル
 * ------------------------------ */
.containerPageTitle {
    @include container-page-title;
    background: url("/images/about/title02.webp") no-repeat center center /
        cover;
}

/* =================================
 * リード
 * ------------------------------ */
.containerLead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9rem;
    padding-bottom: 20rem;
    @include sp {
        padding-top: 8vw;
        padding-bottom: 8vw;
    }
    .itemLogo {
        position: relative;
        width: 15vw;
        max-width: 193px;
        @include sp {
            max-width: unset;
            width: 20vw;
        }
        svg {
            aspect-ratio: 53/50;
            fill: $pure-black;
        }
    }
    .blockTop {
        display: flex;
        justify-content: center;
        margin-top: 7.5rem;
        @include sp {
            margin-top: 2vw;
        }
        &::before {
            content: "";
            position: absolute;
            height: 31vw;
            max-height: 424px;
            background: url("/images/about/w-line.svg") no-repeat center
                center/contain;
            top: 50%;
            translate: 0 -50%;
            aspect-ratio: 4029/424;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            width: 7vw;
            max-width: 93px;
            @include svg-about-cross("191E1E");
            z-index: 1;
            opacity: 0;
        }
        .boxLeft,
        .boxRight {
            position: relative;
            width: 36vw;
            max-width: 48rem;
            aspect-ratio: 1;
            z-index: 1;
            @include flex-center;
            opacity: 0;
            @include sp {
                width: 40vw;
            }
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 50%;
                z-index: -1;
            }
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                translate: -50%;
                width: 1px;
                background-color: #000;
                top: 80%;
                height: 50%;
                clip-path: inset(0 0 100% 0);
            }
        }
        .boxLeft {
            &::before {
                background: rgb(130 130 130 / 90%);
                box-shadow: 0 0 40px 0 rgb(0 0 0 / 25%);
            }
            img {
                width: 40%;
                opacity: 0;
            }
        }
        .boxRight {
            translate: -13px;
            &::before {
                background: rgb(255 255 255 / 90%);
                box-shadow: 0 0 40px 0 rgb(0 0 0 / 10%);
            }
            img {
                width: 32%;
                opacity: 0;
            }
        }
        &.isVisible {
            &::after {
                opacity: 1;
                transition: 0.6s ease-out 4s;
            }
            .boxLeft,
            .boxRight {
                &::after {
                    transition: 1s ease-out 4s;
                    clip-path: inset(0);
                }
            }
            .boxLeft {
                animation: boxLeft 3s ease-out forwards;
                img {
                    transition: 1s ease-out 3s;
                    opacity: 1;
                }
            }
            .boxRight {
                animation: boxRight 3s ease-out forwards;
                img {
                    transition: 1s ease-out 3s;
                    opacity: 1;
                }
            }
        }
        @keyframes boxLeft {
            0% {
                opacity: 0;
                translate: -10rem;
                scale: 0.5;
            }
            10% {
                scale: 1;
            }
            50% {
                opacity: 1;
                translate: -10rem;
            }
            80% {
                opacity: 1;
                translate: 13px;
            }
            100% {
                opacity: 1;
                translate: 13px;
            }
        }
        @keyframes boxRight {
            0% {
                opacity: 0;
                translate: 10rem;
                scale: 0.5;
            }
            10% {
                scale: 0.5;
            }
            15% {
                scale: 1;
                opacity: 0;
                translate: 10rem;
            }
            50% {
                opacity: 1;
                translate: 10rem;
            }
            80% {
                opacity: 1;
                translate: -13px;
            }
            100% {
                opacity: 1;
                translate: -13px;
            }
        }
    }
    .blockBottom {
        display: flex;
        flex-direction: column;
        max-width: $article-middle-width;
        margin-top: 18rem;
        gap: 9rem 13rem;
        @include sp {
            display: flex;
            flex-direction: column;
            padding-inline: 4vw;
            margin-top: 14vw;
            gap: 4vw 0;
        }

        .overviewCard {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            gap: 2em 0;
            h2 {
                font-size: fz(28);
                font-weight: 700;
                line-height: 1.6;
                letter-spacing: 0.04em;
                margin-top: 1.8rem;
            }
            p {
                display: flex;
                flex-direction: column;
                font-size: fz(16);
                span {
                    letter-spacing: 0.04em;
                    line-height: 2em;
                }
            }
        }
    }
}

/* =================================
 * ステートメントブロック
 * ------------------------------ */
.containerAboutStatement {
    display: flex;
    flex-direction: column;
    padding-inline: 2vw;
    align-items: center;
    z-index: 2;
    article {
        display: flex;
        flex-direction: column;
        max-width: $article-max-width;
        gap: 7.4rem 0;
        @include sp {
            gap: 2vw 0;
            padding-bottom: 10vw;
        }
        .boxTop {
            align-self: center;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: inherit;
            @include sp {
                flex-direction: column;
            }
            .itemCatch {
                position: absolute;
                left: 0;
                top: 0;
                font-size: inherit;
                display: flex;
                flex-direction: column;
                z-index: 1;
                > span {
                    font-size: fz(280);
                    font-weight: 700;
                    @include helvetica-neue;
                    line-height: 0.75em;
                    display: inline-flex;
                    align-items: baseline;
                    gap: 0.08em;
                    opacity: 0;
                    transform: translate3d(0, 0.55em, 0) rotate(4deg);
                    clip-path: inset(0 0 100% 0);
                    transition: 1s cubic-bezier(0.34, 1.56, 0.64, 1);
                    letter-spacing: -0.1em;
                    @include sp {
                        font-size: 25vw;
                    }
                    &:nth-child(2) {
                        transition-delay: 0.12s;
                    }
                    &:nth-child(3) {
                        transition-delay: 0.24s;
                    }
                    &:nth-child(4) {
                        transition-delay: 0.36s;
                    }
                    > span,
                    em {
                        display: inline-flex;
                        font-style: normal;
                    }
                    > span,
                    em span {
                        line-height: 0.75em;
                        display: inline-block;
                        opacity: 0;
                        transform: translate3d(0, 0.55em, 0) rotate(4deg);
                        clip-path: inset(0 0 100% 0);
                        transition: 1s cubic-bezier(0.34, 1.56, 0.64, 1);
                    }
                    em {
                        font-style: normal;
                        letter-spacing: -0.15em;
                        color: $vivid-green;
                    }
                }
                &.isVisible > span {
                    opacity: 1;
                    transform: translate3d(0, 0, 0) rotate(0deg);
                    clip-path: inset(-3rem);
                }
                &.isVisible > span > span,
                &.isVisible > span em span {
                    opacity: 1;
                    transform: translate3d(0, 0, 0) rotate(0deg);
                    clip-path: inset(-3rem);
                }
            }
            .itemImage {
                width: 530px;
                aspect-ratio: 1;
                margin-top: 15rem;
                z-index: 1;
                @include sp {
                    width: 50vw;
                    align-self: flex-end;
                    margin-top: 12vw;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .boxBottom {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            font-size: inherit;
            @include sp {
                display: flex;
                flex-direction: column;
            }
            h2 {
                margin-top: 14rem;
                font-size: fz(32);
                font-weight: 700;
                letter-spacing: 0.1em;
                @include sp {
                    margin-top: 10vw;
                    margin-bottom: 10vw;
                }
            }
            .itemImage {
                width: 530px;
                aspect-ratio: 530/795;
                @include sp {
                    width: 100%;
                }
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            p {
                display: flex;
                flex-direction: column;
                margin-left: 3em;
                font-size: fz(16);
                margin-top: 14rem;
                span {
                    font-feature-settings: "palt";
                    line-height: 2.3;
                    letter-spacing: 0.1em;
                    font-weight: 500;
                }
                @include sp {
                    margin-left: unset;
                    margin-top: 2vw;
                }
            }
        }
    }
}

/* =================================
 * Historyブロック
 * ------------------------------ */
.containerAboutHistory {
    background-color: $main-black;
    color: $main-white;
    padding: 32rem 2vw 36vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    translate: 0 -15rem;
    margin-bottom: -15rem;
    @include sp {
        translate: 0;
        margin-bottom: unset;
        padding: 8vw 4vw 14vw;
    }
    article {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $article-max-width;
        @include sp {
            max-width: unset;
        }
        .boxTitle {
            @include box-title;
        }
        .historyBody {
            display: flex;
            flex-direction: column;
            font-size: inherit;
            width: 100%;

            // max-width: $article-middle-width;
            align-self: center;
            margin-top: 9rem;
            gap: 2em 0;
            padding-inline: 4vw;
            @include sp {
                margin-top: 12vw;
                padding-left: 8vw;
            }
            .historyText {
                font-size: inherit;
                display: flex;
                gap: 0 3em;
                width: 100%;
                @include sp {
                    flex-direction: column;
                    gap: 14vw 0;
                }
                .historyGroup {
                    display: flex;
                    flex-direction: column;
                    font-size: inherit;
                    gap: 0.8em 0;
                    width: 100%;
                    h3 {
                        font-size: fz(20);
                        font-weight: 700;
                        letter-spacing: 0.05em;
                        margin-bottom: 1em;
                    }
                    p {
                        font-size: fz(14);
                        letter-spacing: 0.05em;
                        line-height: 2;
                        font-weight: 300;
                    }
                }
            }
            .bottomText {
                font-size: fz(20);
                letter-spacing: 0.04em;
                line-height: 1.6em;
            }
        }
    }
}

/* =================================
 * メッセージ
 * ------------------------------ */
.containerMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13rem 2vw 0;
    @include sp {
        padding: 8vw 4vw;
    }
    article {
        display: flex;
        flex-direction: column;
        max-width: $article-max-width;
        .boxTitle {
            @include box-title;
            @include animated-title;
            h2 {
                display: flex;
                flex-direction: column;
                span {
                    line-height: 0.85em;
                }
            }
        }
        .overviewColumns {
            margin-top: 11.7rem;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 8em 0;
            padding-left: 4vw;
            // max-width: $article-middle-width;
            font-size: inherit;
            align-self: center;
            @include sp {
                gap: 8vw 0;
                margin-top: 12vw;
                padding-left: unset;
            }
            .overviewSection {
                display: flex;
                flex-direction: column;
                align-self: flex-start;
                // max-width: 85rem;
                width: 100%;
                h3 {
                    @include helvetica-neue;
                    font-size: fz(24);
                    font-weight: 700;
                    letter-spacing: 0.1em;
                }
                .overviewText {
                    display: flex;
                    flex-direction: column;
                    margin-top: 2rem;
                    gap: 1.8rem 0;
                    font-size: inherit;
                    @include sp {
                        margin-top: 4vw;
                    }
                    p {
                        font-size: fz(14);
                        letter-spacing: 0.05em;
                        line-height: 2.2;
                        font-feature-settings: "palt";
                    }
                }
            }
        }
    }
    .overviewImages {
        position: absolute;
        right: 0;
        top: 153px;
        z-index: 1;
        @include sp {
            display: none;
        }
        .overviewImageWide {
            position: absolute;
            right: 5vw;
            bottom: 90%;
            width: 40vw;

            // max-width: 90rem;
            aspect-ratio: 657 / 642;
            z-index: 1;
        }
        .overviewImageTall {
            width: 39vw;
            max-width: 60rem;
            aspect-ratio: 536 / 803;
        }
    }
    .overviewImageBottom {
        margin-top: 10rem;
        width: 83vw;

        // max-width: 90rem;
        aspect-ratio: 1137 / 758;
        @include sp {
            width: 100%;
            margin-top: 4vw;
        }
    }
}

/* =================================
 * 会社概要一覧ブロック
 * ------------------------------ */
.containerOfficeOverview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18rem 2vw 0;
    @include sp {
        padding: 14vw 4vw 10vw;
    }
    article {
        display: flex;
        flex-direction: column;
        max-width: $article-max-width;
        .boxTitle {
            @include box-title;
            @include animated-title;
            h2 {
                display: flex;
                flex-direction: column;
                span {
                    line-height: 0.85em;
                }
            }
        }
        img {
            width: 30vw;
            margin-left: 3vw;
            @include sp {
                display: none;
            }
        }
    }

    .officeOverviewBody {
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        gap: 7rem 0;
        font-size: inherit;
        @include sp {
            margin-top: 10vw;
            gap: 10vw 0;
            padding-inline: 4vw;
        }
        .officeOverviewColumns {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 0 8rem;
            max-width: $article-middle-width;
            width: 100%;
            align-self: center;
            font-size: inherit;
            @include sp {
                grid-template-columns: 1fr;
                gap: 20vw 0;
            }
            .officeCard {
                display: flex;
                flex-direction: column;
                font-size: inherit;
                h3 {
                    font-size: fz(20);
                    font-weight: 700;
                    letter-spacing: 0.08em;
                }
                dl {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    width: 100%;
                    margin-top: 3.4rem;
                    gap: 0 2.4rem;
                    font-size: inherit;
                    @include sp {
                        margin-top: 2vw;
                    }
                    div {
                        grid-column: span 2;
                        display: grid;
                        grid-template-columns: subgrid;
                        padding: 1.6rem 0;
                        font-size: inherit;
                        @include sp {
                            padding: 4vw 0;
                        }
                        &:not(:last-of-type) {
                            border-bottom: 1px solid #8f8f8f;
                        }
                        dt,
                        dd {
                            font-size: fz(16);
                            font-weight: 300;
                            letter-spacing: 0.04em;
                            line-height: 1.7;
                        }
                    }
                }
            }
        }
    }
}
