/* =================================
 * 	クロジカ HEADER
 * ------------------------------ */
@use "../../styles/foundation" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
.containerHeader {
    width: 100%;
    z-index: 5;
    transition: 0.3s ease-out;
    padding-top: 5.3rem;
    padding-inline: min(5vw, 7rem);
    @include sp {
        padding: 6vw 0 0 4vw;
    }
    article {
        display: flex;
        flex-direction: column;
        h1 {
            svg {
                width: 53px;
                aspect-ratio: 53/50;
                fill: $pure-black;
            }
        }
        nav {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            margin-top: 3rem;

            a {
                font-size: fz(18);
                @include helvetica-neue;
                font-weight: 400;
                line-height: 2em;
            }
        }
    }

    // トップページ
    // &.isTop {
    // }
    // 下層ページ
    &.isSub {
        background-color: #fff;
        padding-bottom: 13px;
        box-shadow: 0 0 4px rgba(#000, 0.25);
        nav {
            a {
                color: #111;
            }
        }
        .subMenu {
            a {
                color: #fff;
            }
        }
    }
}
.hamburgerButton {
    position: fixed;
    top: 2rem;
    right: min(2.48vw, 3.4rem);
    width: 20rem;
    height: 4rem;
    border: 1px solid #fff;
    // background-color: rgba($pure-white, 0.1);
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    & > div {
        position: relative;
        width: 3.6rem;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 55%;
            height: 1px;
            background-color: $pure-black;
            transition: 0.3s ease-out;
            width: 100%;
            &:nth-of-type(1) {
                translate: -50% calc(-50% - 6px);
                clip-path: inset(0 0 0 30%);
            }
            &:nth-of-type(2) {
                translate: -50% -50%;
            }
            &:nth-of-type(3) {
                translate: -50% calc(-50% + 6px);
                clip-path: inset(0 30% 0 30%);
            }
        }
    }
    p {
        @include helvetica-neue;
        font-size: fz(14);
        text-transform: uppercase;
    }
    &.is-open {
        & > div {
            span {
                transition: 0.3s ease-out;
                &:nth-of-type(1) {
                    translate: -50% -50%;
                    rotate: 45deg;
                }
                &:nth-of-type(2) {
                    translate: 150% -50%;
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    translate: -50% -50%;
                    rotate: -45deg;
                }
            }
        }
    }
}
