@use "../../styles/foundation" as *;
/* =======================================
 * クロジカ Header スタイル
 * URL: /src/components/common/Header.module.scss
 * Referenced in: /src/components/common/Header.tsx
 * Created: 2026-04-23
 * Last updated: 2026-06-17
 * ======================================= */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
.containerHeader {
    width: 100%;
    z-index: 5;
    transition: 0.3s ease-out;
    padding-top: 5.3rem;
    padding-inline: min(5vw, 7rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sp {
        padding: 6vw 0 0 4vw;
    }
    article {
        display: flex;
        flex-direction: column;
        max-width: $article-max-width;
        .itemLogo {
            position: fixed;
            svg {
                width: 53px;
                aspect-ratio: 53/50;
                fill: $pure-black;
            }
        }
        nav {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            padding-top: 3em;
            a {
                font-size: fz(18);
                @include helvetica-neue;
                font-weight: 400;
                line-height: 2em;
            }
        }
    }
    &.isSubpage {
        position: fixed;
        article {
            nav {
                display: none;
            }
        }
    }
}

.hamburgerButton {
    position: fixed;
    top: 2rem;
    right: min(2.48vw, 3.4rem);
    width: 20rem;
    height: 4rem;
    background-color: rgba($pure-white, 0.5);
    border-radius: 6px;
    // background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    & > div {
        position: relative;
        width: 3.6rem;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 55%;
            height: 1px;
            background-color: $pure-black;
            transition: 0.3s ease-out;
            width: 100%;
            &:nth-of-type(1) {
                translate: -50% calc(-50% - 6px);
                clip-path: inset(0 0 0 30%);
            }
            &:nth-of-type(2) {
                clip-path: inset(0 0 0 30%);
                translate: -50% calc(-50% - 2px);
            }
            &:nth-of-type(3) {
                translate: -50% calc(-50% + 2px);
            }
            &:nth-of-type(4) {
                translate: -50% calc(-50% + 6px);
                clip-path: inset(0 30% 0 30%);
            }
        }
    }
    p {
        @include helvetica-neue;
        font-size: fz(14);
        text-transform: uppercase;
    }
    &.is-open {
        & > div {
            span {
                transition: 0.3s ease-out;
                &:nth-of-type(1) {
                    translate: -50% -50%;
                    rotate: 45deg;
                    clip-path: inset(0);
                    width: 55%;
                }
                &:nth-of-type(2) {
                    translate: 150% -50%;
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    translate: -50% -50%;
                    rotate: -45deg;
                    width: 55%;
                }
                &:nth-of-type(4) {
                    translate: 150% -50%;
                    opacity: 0;
                }
            }
        }
    }
}
