@use "../../styles/foundation" as *;
/* =======================================
 * クロジカ Header スタイル
 * URL: /src/components/common/Header.module.scss
 * Referenced in: /src/components/common/Header.tsx
 * Created: 2026-04-23
 * Last updated: 2026-07-27
 * ======================================= */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
.containerHeader {
    width: 100%;
    z-index: 5;
    transition: 0.3s ease-out;
    padding-top: 5.3rem;
    padding-inline: min(5vw, 7rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sp {
        padding: 2vw 0 0 4vw;
    }
    .topHeader {
        display: flex;
        flex-direction: column;
        max-width: $article-max-width;
        .itemLogo {
            position: fixed;
            @include sp {
                width: 40vw;
            }
            img {
                filter: brightness(100) invert(100);
            }
        }
        nav {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            padding-top: 3em;
            @include sp {
                display: none;
            }
            a {
                font-size: fz(18);
                @include helvetica-neue;
                font-weight: 400;
                line-height: 2em;
            }
        }
    }
    .blockMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba($pure-white, 0.9);
        display: flex;
        justify-content: center;
        padding: 10rem 3.7rem 4.6rem;
        opacity: 0;
        transform: translateY(-100vh);
        transition: 0.5s ease-out;
        @include sp {
            padding: 20vw 8vw 6vw;
        }
        &.isOpen {
            transition: 0.4s ease-out;
            opacity: 1;
            transform: translateY(0);
        }
        .blockInner {
            width: 100%;
            max-width: 1226px;
            font-size: inherit;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 11rem 2.6rem;
            @include sp {
                display: flex;
                flex-direction: column;
                gap: 1vw 0;
            }
            .itemLogo {
                @include flex-center;
                @include sp {
                    display: none;
                }
                svg {
                    width: 40%;
                    max-width: 282px;
                    aspect-ratio: 53/50;
                    fill: $pure-black;
                }
            }
            .boxNav {
                font-size: inherit;
                nav {
                    font-size: inherit;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1.4em 0;
                    a {
                        font-size: min(4vw, 4.8rem);
                        @include helvetica-neue;
                        font-weight: 700;
                        @include sp {
                            font-size: fz(24);
                        }
                        &:nth-last-of-type(2) {
                            grid-column: span 2;
                        }
                    }
                }
            }
            .wrapTel {
                position: relative;
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                font-size: inherit;
                @include sp {
                    margin-top: 8vw;
                }
                a {
                    background-color: $main-black;
                    color: $main-white;
                    font-size: inherit;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-inline: min(3.6rem, 2vw);
                    transition: 0.3s ease-out;
                    @include sp {
                        padding: 6vw 6vw;
                    }
                    .title {
                        position: relative;
                        text-align: center;
                        line-height: 1em;
                        // font-size: fz(40);
                        font-size: min(3.8vw, 4rem);
                        @include helvetica-neue;
                        padding-top: 0.2em;
                        flex: 1;
                        display: flex;
                        align-items: center;
                        @include sp {
                            font-size: fz(24);
                        }
                        .number {
                            font-weight: 500;
                            transition: 0.3s ease-out;
                            line-height: 1em;
                        }
                    }
                    .name {
                        letter-spacing: 0.1em;
                        font-size: min(2.2vw, 2.4rem);
                        @include sp {
                            font-size: fz(14);
                        }
                    }
                    &:hover {
                        background-color: $vivid-green;
                        color: $main-black;
                    }
                }
            }
            .linkForm {
                @include flex-center;
                height: 23rem;
                background-color: $main-black;
                color: $main-white;
                font-size: inherit;
                @include sp {
                    height: 30vw;
                }
                span {
                    position: relative;
                    width: 100%;
                    text-align: center;
                    line-height: 1em;
                    font-size: min(4vw, 4.8rem);
                    @include helvetica-neue;
                    font-weight: 700;
                    @include sp {
                        font-size: fz(30);
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        translate: 0 -50%;
                        right: 8%;
                        width: 16%;
                        @include svg-form-arrow("fff");
                    }
                }
            }
        }
    }
    &.isSubpage {
        position: fixed;

        .topHeader {
            nav {
                display: none;
            }
        }
        .itemLogo {
            top: 2rem;
            left: 4vw;
        }
    }
}

.hamburgerButton {
    position: fixed;
    top: 2rem;
    right: min(2.48vw, 3.4rem);
    width: 20rem;
    height: 4rem;
    background-color: rgba($pure-white, 0.5);
    border-radius: 6px;
    // background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 3;
    @include sp {
        width: 32vw;
        top: 2vw;
        height: 8vw;
    }
    & > div {
        position: relative;
        width: 3.6rem;
        aspect-ratio: 1;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 55%;
            height: 1px;
            background-color: $pure-black;
            transition: 0.3s ease-out;
            width: 100%;
            &:nth-of-type(1) {
                translate: -50% calc(-50% - 6px);
                clip-path: inset(0 0 0 30%);
            }
            &:nth-of-type(2) {
                clip-path: inset(0 0 0 30%);
                translate: -50% calc(-50% - 2px);
            }
            &:nth-of-type(3) {
                translate: -50% calc(-50% + 2px);
            }
            &:nth-of-type(4) {
                translate: -50% calc(-50% + 6px);
                clip-path: inset(0 30% 0 30%);
            }
        }
    }
    p {
        @include helvetica-neue;
        font-size: fz(14);
        text-transform: uppercase;
        transition: 0.3s ease-out;
        @include sp {
            font-size: fz(12);
        }
    }
    &.isOpen {
        transition: 0.3s ease-out;
        & > div {
            width: 6rem;
            @include sp {
                width: 12vw;
            }
            span {
                transition: 0.3s ease-out;
                &:nth-of-type(1) {
                    translate: 50% -50%;
                    rotate: 45deg;
                    clip-path: inset(0);
                    width: 100%;
                }
                &:nth-of-type(2) {
                    translate: 150% -50%;
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    translate: 50% -50%;
                    rotate: -45deg;
                    width: 100%;
                }
                &:nth-of-type(4) {
                    translate: 150% -50%;
                    opacity: 0;
                }
            }
        }
        p {
            // opacity: 0;
            translate: -75vw;
            transition: 0.3s ease-out;
            @include sp {
                display: none;
            }
        }
    }
}
